@font-face {
    font-family: 'ConcertOne';
    src: url('https://younggeun0.github.io/projects/pickyourholds/resource/fonts/concertone-regular-webfont.woff2');
}

body {
    font-family: 'ConcertOne', Arial, sans-serif;
    text-align: center; 
    background-color: #282C34;
    color: #ABB2BB;
}

#pyh-setter-canvas {
    border:2px solid #ABB2BB;
    border-radius: 5px;
}

#pyh-wrapping-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pyh-btns {
    font-family: 'ConcertOne', Arial, sans-serif;
    font-size:1em;
    min-width:10px;
    border-radius: 15px;
    border:none; 
    -webkit-appearance:none;
    background-color: #282C34;
}
